<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{#insert title}No title{/}</title>
</head>
<body>
<code>find({data:query}, Sort.by({data:sort})).page({data:pageIndex}, {data:pageSize}).list()</code>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a href="http://localhost:8080/page/items/cds">CDs</a>
            <a href="http://localhost:8080/page/items/books">Books</a>
        </div>
    </div>
  </div>
</nav>  
<div class="container">
<h1>{#insert title}No title{/}</h1>
{#insert body}No body{/}
</div>
</body>
</html>